extends layout

block content

  style.

    .card .card-buttons {
      position: relative;
      top: -5px;
      text-align: right;
      padding-right: 20px;
      margin-bottom: -20px; }
      .card .card-buttons .btn-floating {
        margin-left: 10px;
        margin-top: -18.5px; }
        .card .card-buttons .btn-floating.btn-large {
          margin-top: -27.75px; }
    .card.small .card-buttons, .card.medium .card-buttons, .card.large .card-buttons {
      top: 0; }

    /*# sourceMappingURL=style.css.map */

  
  .container-fluid(ng-controller='indexController')
    .row
      .col.s12.cards-container
        .margin(style='margin-top:10%')
          script.
            var posts = "#{posts}";

          each post,index in posts
            .colx
                .card.hoverable.blue-grey.lighten-5
                  if (post.img==true)
                    .card-image
                      img(src='http://localhost:4000/api/post/img/'+post._id)
                      
                  // A container for floating buttons
                  .card-buttons
                    // A small amber button
                    - var pray_register = true
                    each pray in post.pray4You
                      if (pray == session)
                        - pray_register = false
                        break
                    
                    if (pray_register)
                      a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(id=post._id ,data-position="top" data-delay="50" data-tooltip=post.pray4You.length , ng-click="pray($event)")
                        i.material-icons airline_seat_flat
                    else
                      a.btn-floating.btn-large.waves-effect.waves-light.black.tooltipped(id=post._id ,data-position="top" data-delay="50" data-tooltip=post.pray4You.length , ng-click="pray($event)")
                        i.material-icons airline_seat_flat

                    - var like_register = true
                    each like in post.like
                      if (like == session)
                        - like_register = false
                        break
                    
                    if (like_register)
                      a.btn-floating.btn-large.waves-effect.waves-light.red.tooltipped(id=post._id ,data-position="top" data-delay="50" data-tooltip=post.like.length , data-ng-click="like($event)")
                        i.material-icons favorite
                    else
                      a.btn-floating.btn-large.waves-effect.waves-light.black.tooltipped(id=post._id ,data-position="top" data-delay="50" data-tooltip=post.like.length , data-ng-click="like($event)")
                        i.material-icons favorite

                  .card-content
                    span.card-title.font-title=post.userName
                    p.font-text=post.body     

    include add_post_button