extends layout

block content

  style.

    .card .card-buttons {
      position: relative;
      top: -5px;
      text-align: right;
      padding-right: 20px;
      margin-bottom: -20px; }
      .card .card-buttons .btn-floating {
        margin-left: 10px;
        margin-top: -18.5px; }
        .card .card-buttons .btn-floating.btn-large {
          margin-top: -27.75px; }
    .card.small .card-buttons, .card.medium .card-buttons, .card.large .card-buttons {
      top: 0; }

    /*# sourceMappingURL=style.css.map */

  
  .container-fluid.animated.fadeIn(ng-controller='showUsersController')
    if (users.length >= 1)  
      .row(style='margin-top:1%').cards-container
        each user in users
          if (user.type != true)
            .col.s12.m12
                .card.hoverable.blue-grey.lighten-5
                  .card-image
                    img(src=server+'/api/user/img/'+user._id)
                    span.card-title.font-title= user.name
                  // A container for floating buttons
                  .card-buttons
                    // A small amber button
                    a.btn-floating.btn-large.waves-effect.waves-light.teal
                      i.material-icons monetization_on
                    // A large red button
                    if (type)
                      a.btn-floating.btn-large.waves-effect.waves-light.red(href='#modaldelete', id = user._id, ng-click='delete($event)')
                        i.material-icons delete_forever
                  .card-content
                    p.font-text
                      | #{user.name}
                      br
                      b 
                       | Área de Trabajo: #{user.servicePlace}
                      br
                      | #{user.biography}
    else
        .row(style='margin-top:8%')
          h5.font-text(align='center') Aún no tenemos misioneros en esta área, ¿Porqué no empiezas tú?

    include delete_button
    include add_user_place_button
